<app-quote></app-quote>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label>Enter name:</label>
                    <input type="text" name="name" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Enter email:</label>
                    <input type="email" name="email" class="form-control" autocomplete="off" />
                </div>

                <div class="forms-group">
                    <label>Select gender:</label>
                    <select class="form-control" name="gender" >
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
            </div>
            <div class="form-group">
                <label>Enter Password</label>
                <input type="password" name="pass" class="form-control" autocomplete="off">
            </div>
            <br />
            <input type="Submit" class="btn btn-primary btn-block" value="Submit" />
            </form>
    </div>
</div>