body {
    margin: 0;
    padding: 0;
    background-color: #23374d;
    background_image: url("https://images.unsplash.com/photo-1541351555222-2625e7c3adda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

#particles-js {
background_repeat: no-repeat;
background_size: cover;
}

.navbar{
background-color:#23374d;
}
