
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container mt-3 pb-3">
    <button (click)="upvotesClick()" class="btn btn-success">
        <span class="fa fa-thumbs-up thumbsup"></span>
     upvote {{upvote}}
    </button>
    <button (click)="downvotesClick()" class="btn btn-danger ml-3">
        <span class="fa fa-thumbs-down thumbsup"></span>
        downvote {{downvote}}
    </button>
    <button id="delete" class="btn btn-danger" (click)= 'quoteComplete(true)'>
        <span class="fa fa-trash"></span>
        Delete 
    </button>
</div>
