<link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Kaushan+Script&display=swap" rel="stylesheet">
<div class="container-fluid" id="background">   
    <div class="container" id="background-img">
        <h1 class="text-center text-light header-title pt-3">Pitch.</h1> 
        <hr class="hr">
        <div class="row">
            <div class="col-sm-3">
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>
            <div class="col-sm-9">
                <div class="cards d-flex">
                    <div class="card mt-2" *ngFor='let quote of quote; let i = index' style="width: 24rem;">
                        <div class="card-body">
                            <button id="show-more" class="btn btn-sm btn-info" (click)='toggleDetails(i)'>More</button>
                            <h4 class="card-title">{{quote.quoteTitle}}</h4>
                            <p class="card-message">{{quote.quoteMessage}}</p>
                            <app-quote-details id="description" *ngIf='quote.showDescription' [quote]= 'quote' (isComplete) = 'completeGoal($event,i)'></app-quote-details>
                            <p>Owner ~ <span class="card-text">{{quote.name}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
